.create {
    padding-top: 50px;
  }
  
  .writeInput {
    font-size: 20px;
    border: none;
    padding: 20px;
    width: 70vw;
  }
  
  
  
  .writeText {
    font-size: 20px;
    height: 100vh;
  }
  
  .writeSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }